@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  /* overflow-x: hidden; */
  /* color: #000 */
  background-color: #eeeeee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: #000;
}

.rsm-svg {
  width: 70rem;
  height: 70rem;
}
/* svg[Attributes Style] {
  width: 300rem !important;
} */
/* .main-svg {
  width: 60rem;
} */
