.tableContainer{
  grid-column: span 2;
}

table {
  border-radius: 5px;
  /* margin: 2rem 23rem; */
  background: white;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
