.homePage {
  padding: 3rem;
  display: grid;
  /* grid-template-columns: 3fr 2fr; */
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.options {
  height: 3rem;
  background-color: orangered;
  grid-column: span 2;
}

.mapContainer {
  /* background-color: #fafafa; */
  border-radius: 0.5rem;
  height: 67rem;
}

.chartsContainer {
  display: grid;
  grid-row-gap: 2rem;
  /* grid-template-rows: repeat (2, 1fr); */
}

.table {
  margin: 2rem 30rem;
  height: 60rem;
  /* background-color: purple; */
  grid-column: span 2;
}
.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 1rem;
  border: none;
}

.chart {
  /* background-color: #fafafa; */
  border-radius: 0.5rem;
  padding: 1rem;
}
